[user]
	name = Thibault Vatter
  email = thibault.vatter@gmail.com

[url "ssh://git@github.com/"]                                                   
  insteadOf = https://github.com/ 
[credential]
	helper = cache
[submodule]
	recurse = true
